extends layout

block content
  h1 #{title}
  a.btn.btn-primary.btn-block(href='/assessment/procuretopay') Procure To Pay
  a.btn.btn-primary.btn-block(href='/assessment/ordertocash') Order To Cash
  a.btn.btn-primary.btn-block(href='/assessment/hiretoretire') Hire TO Retire