extends layout
block content
  script(type='text/javascript').
    window.onload = function () {
      $.getJSON('http://localhost:3000/assessment/results/userdata', function(user) {
        console.log(user);
        if(user.h2r.hiring != 0 ){
          document.getElementById('button1').className = "btn btn-success btn-block btn-lg";
          document.getElementById('link1').href = "#";
          }
        if(user.h2r.employeemanagement != 0 ){
          document.getElementById('button2').className = "btn btn-success btn-block btn-lg";
          document.getElementById('link2').href = "#";
        }
        if(user.h2r.payroll != 0 ){
          document.getElementById('button3').className = "btn btn-success btn-block btn-lg";
          document.getElementById('link3').href = "#";
        }
        if(user.h2r.retire != 0 ){
          document.getElementById('button4').className = "btn btn-success btn-block btn-lg";
          document.getElementById('link4').href = "#";
        }
      });
    }
  .clearfix
  .row
    .col-md-10.center-margin
      .x_panel
        #quizContainer.container
         .x_title
           h2 Procure to Pay
           .clearfix
         .x_content
          .col-md-10.center-margin 
           h4 #{title}
           a#link1(href='/assessment/hiretoretire/hiring')
            button#button1.btn.btn-primary.btn-block.btn-lg Hiring
           br 
           a#link2(href='/assessment/hiretoretire/employeemanagement')
            button#button2.btn.btn-primary.btn-block.btn-lg Employee Management
           br
           a#link3(href='/assessment/hiretoretire/payroll')
            button#button3.btn.btn-primary.btn-block.btn-lg Payroll
           br
           a#link4(href='/assessment/hiretoretire/retire')
            button#button4.btn.btn-primary.btn-block.btn-lg Retire
