extends layout
block content
	.clearfix
	.row
		.col-md-10.center-margin
			.x_panel
				.x_title
					h2 #{title}
					.clearfix
				.x_content
					.well
						img(src="/images/cropper.jpg", alt="Business Process", width="100%", height="350px")
						br
					br
					.well
						p.
							Process maturity is an indication of how close a developing process is to being complete and capable of continual improvement 
							through qualitative measures and feedback. Thus, for a process to be mature, it has to be complete in its usefulness, automated,
							reliable in information and continuously improving.
						br
						p.
							The maturity of a process or activity can be defined to be at one of five levels, from Level 1 (the least mature) to level 5 (the
							most mature). The processes at higher levels also address the features of the lower levels. The ground level is Level 0 where no
							process exists for the activity.
						br
						.col-md-6.center-margin
							img(src="/images/levels.gif", alt="Levels")
						br
						p.
							Level 0 – Person-Dependent Practices: This is for cases where the activity being performed is not documented. In other words, it is not recorded either in outline or in detail. The activity is entirely person dependent and the sequence, timing and result may vary during repetition. This requires a lot of supervision. There is no guarantee of either achieving the desired result or adhering to timelines. The activity is entirely ad hoc, with little communication between functions. The effectiveness of the activity is entirely dependent on individuals. Knowledge transfer may or may not happen if there is any change in the owner of the activity.
						br
						p.

							Level 1 – Documented Process: At this maturity level, there is a document that has been reviewed and approved by the supervisor or the approving authority as the standard process. But it may be doubtful that the activity being performed is as per the document. This is may be because of a process drift or some drastic change since the document was drafted.
						br
						p.
							Level 2 – Partial Deployment: Here, the activity that is documented is being deployed, but there is inconsistency in the deployment. The process may not be deployed in totality. That is, it may not be deployed at all the intended locations, or though all functions, or by all the intended owners, or all the activities defined in the process are not being performed. This would mean that the document has not been designed to cater to such variations. There is inconsistency in results of different process owners.
						br
						p.
							Level 3 – Full Deployment: At this level, there is no inconsistency between the documented process and the deployed process. The process documented and deployed caters to all the intended locations, owners and all the activities that need to be performed. The process also shows seamless linkage between functions and other processes wherever there needs to be any interaction. This means that the process shows greater consistency of actions and better communication between functions.
						br
						p.
							Level 4 – Measured and Automated: The process has set itself goals such as adherence to timelines, customer satisfaction, cost, etc. The process also is being measured against its goals. The process is system-driven by enablers such as using enterprise resource planning or customer resource management or any other custom-made software.
						br
						p.
							Level 5 – Continuously Improving: The goals set for the process are being analyzed for achievements and improved regularly. The timelines, cost targets, satisfaction levels are being achieved regularly and the targets also are being tightened by using continuous quality improvement techniques such as Six Sigma, Kaizan, etc. The enabling system also is being improved and being made error-free by strategies such as poka-yoke (mistake proofing



