extends layout

block content
  h1 #{title}
  a.btn.btn-primary.btn-block(href='/assessment/ordertocash/creditanalysis') Credit Analysis
  a.btn.btn-primary.btn-block(href='/assessment/ordertocash/billing') Billing
  a.btn.btn-primary.btn-block(href='/assessment/ordertocash/cashapplication') Cash Application & Collection
  a.btn.btn-primary.btn-block(href='/assessment/ordertocash/glposting') GL Posting & Reporting