extends layout

block content
  script(type='text/javascript' src='/results-o2c.js').
  .clearfix
  .row
    .col-md-8.center-margin
      .x_panel
        #quizContainer.container
         .x_title
           h2 Procure to Pay
           .clearfix
         .x_content
          .col-md-8.center-margin 
           h4 #{title}
           a.btn.btn-primary.btn-block(href='/assessment/ordertocash/creditanalysis') Credit Analysis
           a.btn.btn-primary.btn-block(href='/assessment/ordertocash/billing') Billing
           a.btn.btn-primary.btn-block(href='/assessment/ordertocash/cashapplication') Cash Application & Collection
           a.btn.btn-primary.btn-block(href='/assessment/ordertocash/glposting') GL Posting & Reporting
