extends layout

block content
  h1 #{title}
  a.btn.btn-primary.btn-block(href='/assessment/procuretopay/purchasesection') Purchase Section
  a.btn.btn-primary.btn-block(href='/assessment/procuretopay/purchasesection') Vendor Analyis
  a.btn.btn-primary.btn-block(href='/assessment/procuretopay/purchasesection') Finances
  a.btn.btn-primary.btn-block(href='/assessment/procuretopay/purchasesection') ERP System