extends layout

block content
  script(type='text/javascript' src='/results-p2p.js').
  .clearfix
  .row
    .col-md-8.center-margin
      .x_panel
        #quizContainer.container
         .x_title
           h2 Procure to Pay
           .clearfix
         .x_content
          .col-md-8.center-margin 
           h4 #{title}
           a.btn.btn-primary.btn-block(href='/assessment/procuretopay/purchasesection') Purchase Section
           a.btn.btn-primary.btn-block(href='/assessment/procuretopay/vendoranalysis') Vendor Analyis
           a.btn.btn-primary.btn-block(href='/assessment/procuretopay/finances') Finances
           a.btn.btn-primary.btn-block(href='/assessment/procuretopay/erpsection') ERP Section
