extends layout 
block content
	.clearfix
	.row
		.col-md-10.center-margin
			.x_panel
				.x_title
					h3 #{title}
					.clearfix
				.x_content
						#chartContainer(style='height: 370px; width: 100%;')
						#chartContainer3(style='height: 370px; width: 100%;')
						#chartContainer2(style='height: 370px; width: 100%;')
	script(type="text/javascript" src="/userdata.js").
	script(src='https://canvasjs.com/assets/script/canvasjs.min.js')