extends layout 
block content
	h1 #{title}
	script(type="text/javascript" src="/userdata.js").
	#chartContainer(style='height: 370px; width: 100%;')
	#chartContainer2(style='height: 370px; width: 100%;')
	script(src='https://canvasjs.com/assets/script/canvasjs.min.js')