extends layout 
block content
  script(type='text/javascript' src='/graphs.js').
  h1 #{title}
  #chartContainer(style='height: 370px; width: 100%;')
  #chartContainer2(style='height: 370px; width: 100%;')
  script(src='https://canvasjs.com/assets/script/canvasjs.min.js')