extends layout
block content
  .clearfix
  .row
    .col-md-8.center-margin
      .x_panel
        #quizContainer.container
         .x_title
           h2 Purchase Section 
           .clearfix
         .x_content
          h3 
           #question.well
          #options.container
            .radio
            h4
             label
              input.flat(type='radio',  name='iCheck' value='1')
              span#opt1
            .radio
            h4
             label
              input.flat(type='radio', name='iCheck' value='2')
              span#opt2
            #c3.radio
            h4
             label
              input.flat(type='radio', name='iCheck', value='3')
              span#opt3
          .col-md-3
          .col-md-3
            button#previousButton.btn.btn-primary Previous Question
          .col-md-3
            button#nextButton.btn.btn-primary Next Question
        #result.alert.alert-success(style='display:none;')
        a(href='http://localhost:3000/assessment/procuretopay')
         button#nextSection.btn.btn-primary(style='display:none;') Next Section
  script(type='text/javascript', src='/bower_components/jquery/dist/jquery.js')
  script(type='text/javascript', src='/procuretopay/section-11.js')